:root {
  --backgroundLight: #f1f2f2;
  --backgroundButton: linear-gradient(
    180deg,
    rgba(252, 194, 128, 1) 0%,
    rgba(255, 144, 41, 1) 95%
  );
  --colorH2: #505050;
  --buttonSpan: #f5e2bf;
  --colorLinniks: #ff9029;
}
@font-face {
  font-family: "myFont";
  src: url(../public/font/MPLUSRounded1c-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "myFont";
}

.App {
   min-height: 100vh;
   max-width: 100%;
   overflow: hidden;
}
header {
  width: 100%;
  height: 65vh;
  background: var(--backgroundLight);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.left_header {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-direction: column;
  gap: 1rem;
}

.logo_top_header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 25%;
  height: 90%;
  object-fit: contain;
  object-position: center;
}

.logo_top_header button {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--backg2roundButton);
  border-radius: 100vw;
  font-size: 17px;
  border: none;

  /* font-family: sans-serif; */
  box-shadow: 0 0 10px gray;
}

.h1_header {
  width: 100%;
  height: 30%;
}

.h1_header h3 {
  color: var(--colorH2);
  font-size: 47px;
  /* font-family: serif; */
}

.h1_header h2 {
  color: var(--backgroundButton);
  font-size: 73px;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
}

.left_header p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 20px;
  letter-spacing: 0.51px;
}

.left_header p span {
  font-weight: 700;
  letter-spacing: 0px;
}

.cont_header_buttons {
  width: 80%;
  height: 15%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  gap: 1rem;
}

.cont_header_buttons span {
  width: 30%;
  height: 40px;
  /* padding: 0 10px; */
  background: var(--buttonSpan);
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: sans-serif;
  box-shadow: 0 0 10px gray;
}

.right_header {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* position: relative; */
}

.right_header img {
  width: 100%;
  height: 75%;
  object-fit: contain;
  object-position: center;
  /* position: absolute; */
  /* bottom: -20%; */
  /* left: -30%; */
}

.sectionReviews {
  width: 100%;
  height: 140vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #f4f7f7;
}

.nameLinnik {
  color: var(--colorH2);
  font-size: 50px;
  padding-top: 40px;
  /* font-family: sans-serif; */
}

.main_linnik_fitness {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.items_linnik_fitness {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.items_linnik_fitness h2 {
  color: var(--colorLinniks);
  font-size: 55px;
}

.items_linnik_fitness H3 {
  color: var(--colorLinniks);
  font-size: 25px;
}

.items_linnik_fitness P {
  font-size: 20px;
  letter-spacing: 0.8px;
}

.main_reviews {
  width: 60%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.main_reviews h2 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: var(--backgroundButton);
  font-size: 55px;
}

.main_reviews h3 {
  color: var(--colorH2);
  font-size: 35px;
  font-weight: 700;
  font-family: "myFont";
}

.content_reviews {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.slider_reviews {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nextSliderReviews {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: silver;
  border: none;
  position: relative;
  color: var(--colorH2);
}

.nextSliderReviews::after {
  content: ">";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.prevSliderReviews {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: silver;
  border: none;
  position: relative;
  color: var(--colorH2);
}

.prevSliderReviews::after {
  content: "<";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.item_content_reviews {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.item_content_reviews div {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.item_content_reviews div img {
  width: 50px;
  height: 60px;
  object-fit: contain;
  object-position: center;
}

.item_content_reviews div p {
  color: var(--colorH2);
  font-size: 20px;
  font-weight: 200;
}

.sectionResults {
  width: 100%;
  background: var(--backgroundLight);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.sectionResults h2 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    180deg,
    rgba(224, 205, 127, 1) 0%,
    rgba(230, 186, 64, 1) 98%
  );
  font-size: 50px;
  font-family: "Georgia", serif;
  padding-top: 3%;
}

.content_section_results {
  width: 60%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.content_section_results a {
  font-family: Georgia, serif;
}

.item_content_results {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item_content_results img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.info_results {
  width: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
}

.info_results h3 {
  color: #464646;
  font-weight: 400;
}

.info_results h4 {
  color: #464646;
  font-weight: 200;
}

.info_results p {
  font-size: 14px;
  color: silver;
}

.info_results span {
  color: var(--colorH2);
  font-weight: bold;
}

.sectionResults a {
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #01142f;
  font-size: 18px;
  font-family: "Georgia", serif;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 9px;
  background-image: linear-gradient(
    197deg,
    rgba(240, 233, 132, 1) 0%,
    rgba(219, 190, 94, 1) 98%
  );
  border: none;

  margin-bottom: 5%;
}

.sectionFounder {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.sectionFounder h2 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    180deg,
    rgba(224, 205, 127, 1) 0%,
    rgba(230, 186, 64, 1) 98%
  );
  font-size: 50px;
  font-family: "Georgia", serif;
  padding-top: 3%;
  position: relative;
}
.sectionFounder h2::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  left: calc(50% - 40px);
  bottom: -20px;
  background-color: rgba(224, 205, 127, 1);
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}

.content_section_founder {
  width: 60%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.content_section_founder img {
  width: 500px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.item_content_founder {
  width: 500px;
  height: 60%;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.item_content_founder::after {
  content: "";
  height: calc(100% + 50px);
  width: 8px;
  position: absolute;
  left: -8px;
  top: 0;
  background-image: linear-gradient(
    180deg,
    rgba(252, 241, 159, 1) 0%,
    rgba(252, 231, 73, 1) 100%
  );
}

.item_content_founder h3 {
  color: #c78b1c;
  font-size: 25px;
}

.item_content_founder p {
  color: silver;
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 300;
}

.item_content_founder p span {
  color: var(--colorH2);
}

.sectionFounder a {
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  color: #01142f;
  font-size: 18px;
  font-family: "Georgia", serif;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    rgba(252, 241, 159, 1) 0%,
    rgba(252, 231, 73, 1) 100%
  );
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  box-shadow: 2px 2px 10px 2px rgba(41, 41, 41, 0.2);
}

.sectionFounder a::after {
  content: "";
  width: 20px;
  height: 50px;
  background: url(https://thumb.tildacdn.com/tild3365-6531-4766-b938-323430313132/-/format/webp/1f525.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}

.bottomHome {
  width: 100%;
  background: var(--backgroundLight);
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.bottomHome h2 {
  color: var(--colorLinniks);
  font-size: 50px;
  padding-top: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bottomHome h2 span {
  color: var(--colorH2);
}

.bottomHome p {
  color: var(--colorH2);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.top_bottomHome {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item_top_bottom {
  width: 44%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.top1 {
  background: #f5dac2;
}

.top2 {
  background: #ddf4e1;
}

.item_top_bottom h3 {
  color: var(--colorLinniks);
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.item_top_bottom h4 {
  color: black;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.item_top_bottom a {
  text-decoration: none;
  color: #464646;
  font-size: 20px;
  line-height: 30px;
}

.item_top_bottom img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  position: absolute;
  right: -8%;
  bottom: 0;
}

.nut {
  width: 300px;
}

.rasprod {
  width: 550px;
  text-align: center;
  line-height: 30px;
}

.main_sale {
  width: 60%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.infoSale {
  width: 43%;
  height: 30%;
  background: #efe7de;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 10px gray;
}

.infoSale:nth-child(2) {
  background: #ddf4e1;
}

.infoSale h3 {
  color: var(--colorLinniks);
  font-size: 30px;
}

.infoSale h4 {
  color: var(--colorH2);
  font-size: 25px;
}

.formPrice {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.formPrice h5 {
  color: #bb8f3f;
  font-size: 20px;
  text-decoration: line-through;
}

.formPrice h6 {
  color: #ad7e1f;
  font-size: 25px;
}

.infoSale p {
  font-size: 15px;
  width: 300px;
}

.infoSale img {
  width: 150px;
  height: 250px;
  object-fit: contain;
  object-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.viewMoreSale {
  width: 43%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.viewMoreSale p {
  color: silver;
  font-size: 24px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.spBlack {
  color: black;
}

.spOrange {
  color: #b58b37;
}

.viewMoreSale a {
  text-decoration: none;
  width: 250px;
  height: 50px;
  background: #dfcb36;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.fromRegistartion {
  width: 100%;
  height: 100vh;
  background: var(--backgroundLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fromRegistartion form {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.fromRegistartion form h2 {
  color: var(--colorH2);
  font-size: 25px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.fromRegistartion form input {
  width: 80%;
  height: 40px;
  padding-left: 20px;
}

.down_form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fromRegistartion form button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: var(--backgroundButton);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.authorization {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--backgroundLight);
}

.authorization form {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.authorization form h2 {
  color: var(--colorH2);
  font-size: 25px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.authorization form input {
  width: 80%;
  height: 40px;
  padding-left: 20px;
}

.authorization form button {
  width: 24%;
  height: 50px;
  border-radius: 20px;
  background: var(--backgroundButton);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.textFree {
  width: 600px;
  text-align: center;
}

.start_cont {
  width: 50%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_start_count {
  width: 47%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  background: #f4dfca;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  position: relative;
  padding: 20px;
  cursor: pointer;
}

.content_start_count:nth-child(2) {
  background: #daf0dd;
}

.content_start_count h2 {
  color: var(--colorH2);
  font-size: 30px;
}

.content_start_count h2 span {
  color: #f7a24a;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.content_start_count p {
  width: 70%;
  font-size: 18px;
}

.content_start_count img {
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.blog div {
  width: 30%;
  min-height: 180px;
  background: #f4e4d4;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 20px;
}

.blog h3 {
  color: var(--colorH2);
  font-size: 22px;
}

.blog img {
  width: 130px;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog div:nth-child(1) img {
  right: -4%;
}

.blog div:nth-child(2) h3 {
  width: 20%;
}

.blog div:nth-child(5) img {
  width: 100px;
}

.blog div:nth-child(6) img {
  width: 70px;
}

.blog div:nth-child(7) h3 {
  width: 110px;
}

footer {
  width: 100%;
  height: 500px;
  background: #4d4d4d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.top_footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
}

.logo_footer {
  width: 300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_footer img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.nameLogo {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nameLogo h3 {
  font-size: 22px;
  color: silver;
  text-shadow: 0 0 3px gray;
}

.nameLogo h4 {
  font-size: 15px;
  color: silver;
}

.infoInet {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.icons {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icons a {
  width: 35px;
  height: 35px;
}

.icons a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.icons a:nth-child(2),
.icons a:nth-child(3) {
  width: 50px;
  height: 50px;
}

.infoInet p {
  color: silver;
  font-size: 17px;
}

.mainFooter {
  width: 60%;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
}

.contentFooter {
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.contentFooter h4 {
  color: white;
  text-shadow: 0 0 2px silver;
}

.contentFooter a {
  color: silver;
  font-size: 17px;
}

.contentFooter p {
  color: silver;
}

.payment {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.payment img {
  width: 74px;
  height: 50px;
  object-fit: contain;
  object-position: center;
}

.contentFooter h3 {
  color: silver;
  font-size: 16px;
  text-shadow: 0 0 1px white;
}

.contentFooter span {
  font-size: 25px;
}

.endFooter {
  width: 60%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: silver;
  font-size: 17px;
}

@media screen and (max-width: 1700px) {
  .h1_header h2 {
    font-size: 70px;
  }
  .sectionReviews {
    height: 170vh;
  }

  .item_top_bottom h3,
  .item_top_bottom h4 {
    font-size: 35px;
  }
  .mainFooter {
    height: 280px;
  }
  .contentFooter {
    gap: 0rem;
  }
}

@media screen and (max-width: 1600px) {
  .h1_header h2 {
    font-size: 65px;
  }
  .h1_header h3 {
    font-size: 45px;
  }
  .sectionReviews {
    height: 180vh;
  }
  .slider_reviews {
    width: 46%;
  }
  .content_section_results {
    width: 64%;
  }
}

@media screen and (max-width: 1500px) {
  .h1_header h3 {
    font-size: 42px;
  }
  .h1_header h2 {
    font-size: 63px;
  }
  .right_header img {
    left: -25%;
  }
  .contentFooter h4 {
    font-size: 15px;
  }
  .contentFooter span {
    font-size: 22px;
  }
  .contentFooter h3 {
    font-size: 14px;
  }
  .contentFooter a {
    font-size: 14px;
  }
  .contentFooter p {
    font-size: 14px;
  }
  .payment img {
    width: 56px;
  }
  .mainFooter {
    height: 240px;
  }
  .viewMoreSale p {
    font-size: 19px;
  }
  .infoSale {
    height: 26%;
    gap: 0.5rem;
  }
  .infoSale h3,
  .infoSale h4 {
    font-size: 26px;
  }
  .bottomHome p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1400px) {
  .logo_top_header span {
    font-size: 14px;
  }
  .h1_header h3 {
    font-size: 33px;
  }
  .h1_header h2 {
    font-size: 55px;
  }
  .cont_header_buttons span {
    font-size: 13px;
  }
  .items_linnik_fitness h2 {
    font-size: 44px;
  }
  .items_linnik_fitness H3 {
    font-size: 20px;
  }
  .items_linnik_fitness P {
    font-size: 16px;
  }
  .main_reviews h2 {
    font-size: 45px;
  }
  .main_reviews h3 {
    font-size: 30px;
  }
  .item_content_reviews div p {
    font-size: 17px;
  }
  .item_content_reviews div img {
    width: 44px;
    height: 44px;
  }
  .slider_reviews img {
    width: 80%;
  }
  .sectionResults h2 {
    font-size: 45px;
  }
  .item_content_results img {
    width: 120px;
    height: 120px;
  }
  .info_results h3 {
    font-size: 15px;
  }
  .info_results h4 {
    font-size: 12px;
  }
  .info_results p {
    font-size: 12px;
  }
  .sectionResults a {
    width: 260px;
    height: 50px;
  }
  .sectionFounder h2 {
    font-size: 40px;
  }
  .item_content_founder p {
    font-size: 15px;
  }
  .sectionFounder a {
    width: 330px;
    height: 50px;
  }
  .bottomHome h2 {
    font-size: 33px;
  }
  .item_top_bottom {
    height: 60%;
  }
  .item_top_bottom h3,
  .item_top_bottom h4 {
    font-size: 21px;
  }
  .item_top_bottom a {
    font-size: 14px;
  }
  .item_top_bottom img {
    height: 191px;
  }
  .bottomHome p {
    font-size: 16px;
  }
  .infoSale {
    height: 22%;
  }
  .main_sale {
    align-content: center;
    gap: 4rem;
  }
  .infoSale h3,
  .infoSale h4 {
    font-size: 22px;
  }
  .bottomHome p {
    font-size: 14px;
  }
  .infoSale img {
    width: 92px;
    height: 137px;
  }
  .h2Count {
    font-size: 22px !important;
  }
  .blog {
    align-content: center;
    gap: 2rem;
  }
  .blog h3 {
    font-size: 17px;
  }
  .blog img {
    width: 65px;
    right: 4%;
  }
}

@media screen and (max-width: 1300px) {
  .logo_top_header span {
    padding: 6px 15px;
  }
  .h1_header h2 {
    font-size: 50px;
  }
  .item_content_founder p {
    font-size: 13px;
  }
  .nameLogo h3 {
    font-size: 20px;
  }
  .nameLogo h4 {
    font-size: 12px;
  }
  .infoInet p {
    font-size: 13px;
  }
  .contentFooter span {
    font-size: 16px;
  }
  .contentFooter h3 {
    font-size: 10px;
  }
  .contentFooter h4 {
    font-size: 12px;
  }
  .contentFooter a {
    font-size: 11px;
  }
  .contentFooter p {
    font-size: 11px;
  }
  .payment img {
    width: 50px;
  }
  footer {
    height: 369px;
  }
}

@media screen and (max-width: 1200px) {
  .logo_top_header span {
    font-size: 13px;
  }
  .cont_header_buttons span {
    font-size: 12px;
  }
  .left_header p {
    font-size: 17px;
  }
  .main_reviews {
    height: 425px;
  }
  .item_content_founder p {
    font-size: 11px;
  }
  .item_content_founder h3 {
    font-size: 22px;
  }
  .payment img {
    width: 48px;
  }
}

@media screen and (max-width: 1100px) {
  .left_header {
    width: 45%;
  }
  .right_header {
    width: 38%;
  }
  .items_linnik_fitness h2 {
    font-size: 37px;
  }
  .items_linnik_fitness H3 {
    font-size: 15px;
  }
  .items_linnik_fitness P {
    font-size: 14px;
  }
  .items_linnik_fitness {
    height: 31%;
  }
  .info_results p {
    font-size: 10px;
  }
  .content_section_founder img {
    width: 438px;
  }
  .item_top_bottom a {
    font-size: 13px;
  }
  .item_top_bottom img {
    height: 143px;
    width: 147px;
  }
  .infoSale {
    height: 17%;
  }
  .bottomHome p {
    font-size: 10px;
    /* width: 232px; */
  }
  .infoSale h3,
  .infoSale h4 {
    font-size: 17px;
  }
  .main_sale {
    gap: 3rem;
  }
  .viewMoreSale {
    height: 17%;
  }
  .start_cont {
    height: 172px;
  }
  .bottomHome h2 {
    font-size: 25px;
  }
  .h2Count {
    font-size: 18px !important;
  }
  .content_start_count img {
    width: 77px;
  }
  .blog h3 {
    font-size: 13px;
  }
  .icons a:nth-child(2),
  .icons a:nth-child(3) {
    width: 36px;
    height: 45px;
  }
  .icons a {
    width: 30px;
    height: 30px;
  }
  .payment img {
    width: 42px;
  }
}

@media screen and (max-width: 1000px) {
  .cont_header_buttons span {
    height: 28px;
  }
  .left_header p {
    font-size: 14px;
  }
  .item_content_reviews div p {
    font-size: 13px;
  }
  .item_content_reviews div img {
    width: 30px;
    height: 19px;
  }
  .content_section_founder {
    width: 70%;
  }
  .item_top_bottom {
    height: 44%;
  }
  .item_top_bottom a {
    font-size: 11px;
    line-height: 22px;
  }
  .item_top_bottom img {
    height: 110px;
    width: 119px;
  }
  .nut {
    width: 264px;
  }
  .formPrice h5 {
    font-size: 13px;
  }
  .blog {
    width: 65%;
  }
  .blog div:nth-child(6) img {
    width: 50px;
  }
  .blog img {
    height: 54%;
  }
  .bottomHome p {
    font-size: 13px;
    text-align: center;
    /* width: 170px; */
  }
  .blog div:nth-child(1) img {
    right: -1%;
    height: 80%;
  }
  .blog div:nth-child(5) img {
    width: 71px;
    right: 0;
  }
  .contentFooter h4 {
    font-size: 10px;
  }
  .contentFooter span {
    font-size: 14px;
  }
  .payment img {
    width: 39px;
  }
  footer h3 {
    font-size: 14px;
  }
  .contentFooter a {
    font-size: 9px;
  }
  .payment {
    height: 100px;
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 120vh;
  }
  .left_header {
    width: 70%;
  }
  .right_header {
    width: 38%;
    position: absolute;
  }
  .logo {
    width: 15%;
    height: 90%;
    object-fit: 0% 0%;
    object-position: none;
  }
  .right_header {
    width: 38%;
    position: absolute;
    top: 0%;
    transform: translateX(-85%) translateY(0%);
    left: 50%;
  }
  .cont_header_buttons {
    height: 90%;
  }
  .h1_header h2 {
    font-size: 50px;
    color: #ff9029;
  }
  .cont_header_buttons {
    width: 80%;
    height: 15%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
  }
  .left_header p {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin: -18% 0 38% 0px;
    letter-spacing: 0.51px;
  }
  .cont_header_buttons span {
    height: 28px;
    margin: -5px 0 0 0;
    padding: 4%;
  }
  .item_content_results {
    width: 100%;
    height: 33%;
  }
  .sectionResults h2 {
    font-size: 30px;
  }
  .content_section_results {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .item_content_results img {
    width: 100px;
    height: 100px;
  }
  .items_linnik_fitness {
    width: 100%;
  }
  .main_reviews {
    gap: 0rem;
  }
  .content_reviews {
    flex-direction: column-reverse;
  }
  .main_reviews h3 {
    font-size: 23px;
  }
  .main_reviews h2 {
    font-size: 25px;
  }
  .sectionReviews {
    height: 207vh;
  }
  .content_section_founder {
    flex-direction: column;
  }
  .content_section_founder img {
    width: 281px;
  }
  .top_bottomHome {
    flex-direction: column;
  }
  .bottomHome h2 {
    font-size: 40px;
  }
  .item_top_bottom {
    width: 81%;
    height: 47%;
  }
  .item_top_bottom:nth-of-type(2) img {
    display: none;
  }
  .item_top_bottom img {
    height: 205px;
    width: 211px;
    right: -30%;
    bottom: -127px;
    z-index: 1;
    opacity: 0.7;
  }
  .bottomHome p {
    /* width: 560px; */
    font-size: 18px;
  }
  .infoSale {
    width: 81%;
    height: 15%;
  }
  .main_sale {
    height: 1900px;
    margin-top: 206px;
  }
  .t_1 {
    width: 350px ;
    font-size: 15px;
  }
  .viewMoreSale {
    width: 100%;
  }
  .start_cont {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 400px;
  }
  /* .b_2 {
  padding-top: 200px !important;
} */
  .content_start_count {
    width: 70%;
  }
  .blog div {
    width: 46%;
  }
  .blog {
    justify-content: flex-start;
  }
  .p_1 {
    width: 100%;
  }
  footer {
    height: 110vh;
  }
  .main_reviews {
    height: 1000px;
  }
  .main_reviews h2 {
    font-size: 55px;
  }
  .main_reviews h3 {
    font-size: 35px;
  }
  .item_content_reviews div img {
    width: 40px;
    height: 40px;
    margin-top: 40%;
  }
  .item_content_reviews div p {
    font-size: 18px;
    margin: 52px 0 0 100px;
  }
  .item_content_reviews {
    width: 100%;
  }
  .item_content_reviews div img {
    width: 40px;
    height: 40px;
    margin: 0% -15% -12% 18%;
  }
  .sectionReviews {
    gap: 7rem;
    height: 315vh;
  }
  .slider_reviews {
    width: 80%;
  }
  .content_reviews {
    width: 100%;
    height: 80%;
    gap: 3rem;
  }
  .sectionResults h2 {
    font-size: 40px;
  }
  .info_results {
    width: 70%;
  }
  .sectionResults a {
    width: 30%;
    height: 5%;
  }
  .sectionFounder {
    gap: 5rem;
  }
  .sectionFounder h2 {
    font-size: 45px;
  }
  .chereva {
    display: block !important;
  }
  .item_content_founder > h3 {
    display: none;
  }
  .content_section_founder img {
    width: 50%;
    margin-right: 40%;
  }
  .item_content_founder {
    width: 100%;
    height: 70%;
  }
  .item_content_founder p {
    font-size: 17px;
  }
  .contentFooter {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: space-around;
    gap: 0.5rem;
  }
  .contentFooter:nth-of-type(2),
  .contentFooter:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
  }
  .mainFooter {
    height: 70%;
    width: 60%;
    flex-wrap: wrap;
  }
  .contentFooter a {
    font-size: 13px;
  }
  .contentFooter h3 {
    font-size: 13px;
  }
  .payment {
    height: 10%;
    position: relative;
    left: 30%;
    width: 140%;
    top: 55%;
  }
  .contentFooter h4:nth-last-child(2) {
    font-size: 15px;
    position: relative;
    left: 65%;
    top: 55%;
  }
  .payment img {
    width: 55px;
  }
  .home {
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .right_header img {
    height: 65%;
  }
  header {
    height: 100vh;
  }
  .left_header {
    gap: 0rem;
  }
  .sectionReviews {
    gap: 0rem;
    height: 290vh;
  }
  .main_reviews {
    height: 70%;
    margin-top: 10%;
  }
  .sectionResults a {
  }
}

@media screen and (max-width: 500px) {
  footer {
    height: 100vh;
  }
  .nameLinnik {
    font-size: 40px;
    text-align: center;
  }
  .main_reviews {
    margin-top: 20%;
  }
  .main_reviews h3 {
    font-size: 33px;
  }
  .item_content_reviews div {
    width: 180%;
  }
  .slider_reviews {
    width: 140%;
  }
  .sectionResults h2 {
    font-size: 30px;
    margin-top: 2%;
  }
  .sectionResults a {
    width: 55%;
    text-align: center;
  }
  .sectionFounder h2 {
    font-size: 30px;
    margin-top: 5%;
  }
  .content_section_founder {
    width: 96%;
  }
  .chereva {
    font-size: 35px !important;
    top: 0% !important;
  }
  .left_header {
    width: 80%;
  }
  .logo_top_header button {
    font-size: 12px;
  }
  .logo {
    width: 25%;
  }
  .left_header p {
    width: 130%;
  }

  .cont_header_buttons {
    width: 112%;
  }
  .cont_header_buttons span {
    height: 30%;
    width: 30%;
    margin: -5px 0 0 0;
    font-size: 15px;
    padding: 0%;
  }
  .left_header p {
    font-size: 19px;
  }
  .blog {
    width: 85%;
    justify-content: flex-start;
  }
  .mainFooter {
    width: 90%;
  }
  .top_footer {
    width: 90%;
    flex-wrap: wrap;
  }
  .payment {
    position: unset;
  }
  .contentFooter {
    width: 35%;
    height: 65%;
  }
  .contentFooter h4:nth-last-child(2) {
    font-size: 12px;
    position: unset;
  }
  .bottomHome p {
    width: 100%;
    font-size: 10px;
}
.main_sale {
  width: 100%;
  margin-top: 60px;
}
.viewMoreSale {
  width: 77%;
  height: 7%;
}
.content_start_count {
  width: 80%;
}
.item_top_bottom {
  width: 100%;
}
.item_top_bottom img {
   opacity: 0;
}
.item_content_founder p {
  font-size: 14px;
}
}

@media screen and (max-width: 490px) {
  .h1_header h2 {
    font-size: 40px;
  }
  .payment img {
    width: 50px;
    height: 36px;
  }
  .h1_header h3 {
    font-size: 27px;
}
.item_content_reviews div p {
  font-size: 15px;
  margin-left: 60px;
  padding-right: 45px;
}
footer h3 {
  font-size: 10px;
}
}
 
@media screen and (max-width: 470px) {
  .blog div {
    width: 100%;
}
.blog h3 {
  font-size: 16px;
}
.bottomHome p {
  font-size: 13px;
}
.top_bottomHome {
   width: 80%;
}
.payment img {
  width: 47px;
  height: 29px;
}
.main_reviews h3 {
  font-size: 20px;
}
.cont_header_buttons span {
  font-size: 10px;
}
}

@media screen and (max-width: 410px) {
  .nameLinnik {
    font-size: 32px;
}
.items_linnik_fitness h2 {
  font-size: 28px;
}
.item_content_reviews div {
  width: 210%;
}
.sectionResults h2 {
  font-size: 22px;
}
.bottomHome h2 {
  font-size: 28px;
}
.left_header p {
  font-size: 12px;
}
.logo_top_header button {
  font-size: 9px;
}
.sectionFounder h2 {
  font-size: 23px;
}
.contentFooter {
  height: 58%;
}
.infoInet p {
  font-size: 9px;
}
}



























.sectionTwo {
  width: 100%;
  height: 1000vh;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
}

.headerSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCenter {
  margin-top: 6%;
  width: 70%;
  height: 80%;
  display: flex;
}

.headerLeft,
.headerRight {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.headerH {
  width: 100%;
  height: 30%;
}

.headerH > h1 {
  font-size: 45px;
  color: #a35003;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
}

.headerH > h1:nth-of-type(1) {
  color: #f58a26;
}

.headerp {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  font-family: sans-serif;
  color: #945b43;
}

.headerButtons {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.headWhite {
  width: 60%;
  height: 25%;
  background: white;
  border-radius: 5px;
  box-shadow: -5px 5px 5px 0px rgb(236, 236, 236);
  margin-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
}

.headWhite:nth-of-type(3) {
  width: 75%;
}

.headWhite > img {
  margin-left: 5%;
}

.headWhite > p {
  margin-left: 5%;
}

.headerEnd {
  width: 200%;
  height: 15%;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.headerRight {
  height: 80%;
  position: relative;
}

.headerRightImage {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 125%;
  height: 125%;
  object-fit: 100% 100%;
  object-position: 100% 100%;
}

.cursiBut {
  padding: 2% 7%;
  background: linear-gradient(
    180deg,
    rgba(245, 198, 137, 1) 0%,
    rgba(235, 179, 76, 1) 97%
  );
  border: none;
  cursor: pointer;
  font-weight: 650;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(178, 178, 178);
}

.cursiBut > a {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.divTextP {
  color: #945b43;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
}

label {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
}

.headerLinks {
  width: 70%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1111111 !important;
  position: relative;
  top: 95%;
  left: 13%;
}

.headerLinks > .detals {
  width: 80%;
  height: 60%;
  background: #ffffff;
  color: #945b43;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
}

.headerLinks > .detals:nth-last-of-type(1) {
  background: #e8e3e3;
  height: 40%;
  align-self: center;
  color: gray;
}

.detals > a {
  color: #a35003;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

/* Nav Start; */
.nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.navH {
  align-self: center;
  font-family: sans-serif;
  font-size: 35px;
  margin-top: 0.5%;
  color: #945b43;
}

strong {
  color: #f58a26;
}

.navSection {
  width: 80%;
  height: 85%;
  display: flex;
}

.navLeft {
  width: 30%;
  height: 100%;
  position: relative;
}

.navImage {
  width: 100%;
  height: 75%;
  object-fit: 100% 100%;
  object-position: 100% 100%;
  position: absolute;
  top: 20%;
  left: 30%;
}

.navRight {
  width: 70%;
  height: 100%;
  position: relative;
}

.navBox {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.navItems {
  width: 45%;
  height: 27%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navp1,
.navp2 {
  color: #945b43;
  font-weight: bold;
  font-family: sans-serif;
  text-align: right;
  line-height: 20px;
}

.navpItem {
  margin-left: 10%;
}

.navp2 {
  color: #945b43;
  font-weight: 100;
  font-size: 14px;
  margin-left: 10%;
}

.butTwo {
  position: absolute;
  bottom: 25%;
  left: 50%;
}

.navIcons {
  font-size: 35px;
  margin-right: 5%;
}

.blog-container {
  width: 100%;
  padding: 10px 12%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.blog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 20px 0px rgba(168, 168, 168, 0.2);
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}

.picture-block {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.picture-block > h3 {
  width: 30%;
  color: #ffffff;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
  font-size: 16px;
}

.circle {
  width: 148px;
  height: 148px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 39px;
  opacity: 0.5;
}

.myPic {
  height: 168% !important;
  bottom: -62px !important;
  right: -12px !important;
}

.picture-block > img {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.times {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}

.times p {
  color: #454545;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 0.5px;
  opacity: 0.7;
}

.times img {
  width: 5%;
}

.blog-item > p {
  color: #454545;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 16px;
  height: 160px;
}

.more {
  width: 90%;
  height: 50px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 4px;
  background-color: #4ec22b;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
}

.select {
  width: 90%;
  height: 50px;
  color: #333333;
  font-size: 15px;
  font-family: "Arial", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-width: 1px;
  border-radius: 4px;
  background-position: center center;
  border-color: #474747;
  border-style: solid;
  cursor: pointer;
}

.courses-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 12%;
  gap: 10rem;
  height: 400px;
}

.cube-courses {
  width: 100%;
  height: 170px;
  perspective: 1000px;
}

.course {
  width: 310px;
  height: 100%;
  transform-style: preserve-3d;
  background: red;
  position: absolute;
  border-radius: 15px;
  transform: translateX(calc(var(--i) * 40px)) translateY(calc(var(--i) * 30px));
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.course > img {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.course > h2 {
  width: 30%;
  color: #ffffff;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
  font-size: 20px;
}
.cube-courses-container {
  width: 100%;
}

.course-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  gap: 15px;
  height: 170px;
  margin-left: 50px;
}

.course-info > h2 {
  font-size: 35px;
  color: #f58a26;
}

.course-info p {
  padding: 10px 0;
  color: #454545;
  font-size: 16px;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.course-info > h2 > span {
  color: rgb(160, 101, 46);
}

.course-info > .times {
  padding: 0;
}
.course-info > button {
  width: 60%;
  padding: 10px 0;
  color: #ffffff;
  font-size: 15px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 8px;
  background-color: #4ec22b;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.box-container {
  width: 100%;
  padding: 10px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container > label {
  display: flex;
  margin-top: 30px;
  width: 100%;
  gap: 10px;
}

.box-container > label p {
  font-size: 14px;
  color-scheme: #444444;
  font-weight: 100;
  opacity: 0.6;
}

.box-container > label p > a {
  color: #23527c !important;
  text-decoration: none;
}

.box-container > label p > a:hover {
  text-decoration: underline;
}

.box-container > h2 {
  color: #a0652e;
  font-size: 25px;
}

.checkbox-blockes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-item > span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-item p {
  font-size: 20px;
  line-height: 1.55;
  font-family: "Open Sans", sans-serif, sans, arial;
  font-weight: 300;
  color: #212121;
  opacity: 0.5;
}

.social-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 30px;
}

.social-block > input {
  color: #a0652e;
  background-color: transparent !important;
  border-radius: 3px;
  border: 1px solid #a0652e;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 18px;
}

.social-block > input::placeholder {
  color: #a0652e;
}

.social-block > button {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.3em;
  font-weight: 700;
  display: block;
  margin: auto;
  color: #ffffff;
  background: rgb(254, 184, 121);
  background: linear-gradient(
    180deg,
    rgba(254, 184, 121, 1) 0%,
    rgba(250, 151, 61, 1) 47%
  );
  box-shadow: inset #fa973d 0 -1px 1px, inset 0 1px 1px #fa973d,
    #fa973d 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 5px 5px;
  transition: all 0.5s;
  border: none;
}

.slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 13%;
}

.slider-text {
  width: 100%;
  display: flex;
}

.slider-text > h2 {
  font-size: 45px;
  color: rgb(160, 101, 46);
}

.slider-text > h2 > span {
  color: #f58a26;
}

.slider-phone > button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f9a659;
  color: white;
  border: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 2px white inset;
  cursor: pointer;
}

.slider-phone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-phone > img {
  width: 60%;
}

.authors-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 10px 25%;
}

.authors-container > h2 {
  margin-bottom: 30px;
  font-size: 40px;
  color: rgb(160, 101, 46);
}

.authors-container > h2 span {
  color: #f58a26;
}

.authors-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.authors-item {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 20px 0px rgba(168, 168, 168, 0.3);
  gap: 2rem;
  overflow: hidden;
}

.authors-item-back {
  height: 100%;
  width: 300px !important;
  background-size: cover !important;
  border-radius: 15px;
  background-position: center !important;
}

.authors-item > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
  width: 100%;
  color: #a35003;
}

.authors-item > span > span {
  font-size: 12px;
}

.authors-item > span > p {
  margin-top: 20px;
}

.authors-container > button {
  width: 360px;
  height: 80px;
  background: url(https://static.tildacdn.com/tild6535-3335-4131-b934-353537366564/photo.png);
  background-size: cover;
  border-radius: 100vw;
  background-position: center center;
  color: white;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
}

.contact-container {
  width: 100%;
  height: 500px;
  background: url("https://static.tildacdn.com/tild3536-3133-4331-a636-663562336361/photo.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 10px 15%;
  margin-top: 30px;
}

.contact-text {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.contact-phone {
  height: 100%;
  width: 100%;
}

.contact-phone > img {
  height: 100%;
  width: 100%;
}

.contact-text > label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-text > h2 {
  color: rgb(160, 101, 46);
}

.contact-text > h2 > span {
  color: #f58a26;
}

.contact-text p {
  width: 100%;
  color: #b8a39a;
  font-size: 18px;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.contact-text input {
  appearance: none;
  width: 17px;
  height: 17px;
  background: white;
  border-radius: 50%;
  position: relative;
}

.contact-text input::before {
  content: '';
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f9a659;
  border-radius: 50%;
}

.contact-text button {
  color: #a0652e;
  font-size: 14px;
  font-family: "mplusroundedmuseo", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  letter-spacing: 0.3px;
  border-width: 1px;
  border-radius: 10px;
  background-position: center center;
  border-color: #a0652e;
  border-style: solid;
  width: 200px;
  height: 45px;
}


@media screen and (max-width : 1000px) {
  .blog-container {
    grid-template-columns: 1fr 1fr;
  }
  .courses-container {
    height: auto;
    flex-direction: column;
  }
}

@media screen and (max-width : 700px) {
  .blog-container {
    grid-template-columns: 1fr;
  }
  
  .course:nth-of-type(5) {
    display: none;
  }
  .course {
    width: 226px !important;
    height: 70% !important;
  }

  .course > h2 {
    font-size: 14px;
  }

  .courses-container {
    padding: 0;
  }

  .course-info {
    height: auto;
    margin: 0;
    text-align: center;
    align-items: center;
  }

  .cube-courses {
    position: relative;
    left: 50%;
    transform: translateX(-55%);
  }

  .checkbox-item p {
    font-size: 14px;
  }

  .box-container {
    padding: 10px 5%;
  }

  .slider {
    flex-direction: column;
    gap:4rem;
    text-align: center;
  }

  .authors-container {
    padding: 10px 4%;
  }

  .authors-item {
    flex-direction: column;
    height: auto;
  }

  .authors-item-back {
    height: 200px;
  }
  .contact-container {
    height: auto;
    flex-direction: column;
  }

}